*.pyc
/*.dist-info/
/*.egg-info/
/*.pstat
/.*_cache/
/.covcfg-*
/.coverage*
/.default.nix
/.direnv/
/.dmypy*.json
/.htmlcov*/
/.pyinstrument.html
/.result*
/YAKSHAVE
/coverage*.xml
/flamegraph.svg
/pyinstrument.html
/result*
/tests/sitecustomize.py
__pycache__
